@charset "utf-8";

/* scrollbar */
.c-scrollbar{overflow:auto;}
.c-scrollbar::-webkit-scrollbar{width:4px;transition:var(--transition-time);}
/* .c-scrollbar::-webkit-scrollbar-track{} */
.c-scrollbar::-webkit-scrollbar-thumb{background-color:var(--color-scrollbar);border-radius:4px;}
.c-scrollbar::-webkit-scrollbar-thumb:hover{background-color:var(--color-primary);box-shadow: 0 0 8px 0 rgba(0, 143, 255, 0.5);}

/* input - bar */
.input-base{padding:8px 16px;width:100%;border-radius:5px;border:0;background-color:#2c3240;border:1px solid #2c3240;color:#b8bdcd;height:38px;}
.input-base:focus{border:1px solid var(--color-primary);color:var(--color-primary);}
.input-base.tp2{background-color:#222631;border:1px solid #222631;}
.input-base.tp2:focus{border:1px solid var(--color-primary);color:var(--color-primary);}

/* input - file */
.input-wrap{display:flex;align-items:center;gap:0 19px;margin-top:8px;position:relative;}
.input-wrap .label{font-size:14px;font-weight:bold;color:#b8bdcd;}
.input-wrap .unit{font-size:13px;color:#b8bdcd;}
.input-wrap .bridge{font-size:13px;color:#fff;margin:0 8px;}
.input-wrap .select-wrap{display:flex;align-items:center;gap:0 8px;}
.input-wrap .select-base{width:80px;}

.input-wrap.file{gap:0 8px;width:100%;margin-top:0;}
.input-wrap.file .btn-base > *{padding:9px 10px;width:89px;}
.input-wrap.file .btn-delete{position: absolute;right:105px;top:11px;width:16px;height:17px;background:url(../img/icon/ico-ss-cancel-g.svg) 50% 50% no-repeat;display:none;}
.input-wrap.file input[type="file"]{position:absolute;right:0;top:0;width:89px;height:38px;opacity:0;}
.input-wrap.file.active .btn-delete{display:inline-block;}
.input-wrap.select-input{gap:0 8px;margin-top:0;}
.input-wrap.select-input .select-base{width:240px;}
.input-wrap.select-input .btn-base{width:85px;flex-shrink:0;}

/* button */
[class^="btn-"]{display:inline-block;vertical-align:middle;font-size:0;background-position:50% 50%;background-repeat:no-repeat;transition:var(--transition-time);}
.btn-base > *{display:block;text-align:center;width:100%;border:0;cursor:pointer;background-color:var(--color-primary);font-size:14px;line-height:20px;font-weight:bold;color:#fff;padding:8px 20px;border-radius:4px;}
.btn-base > *:hover{background-color: #0072cc;}
.btn-base > * em{display:inline-block;position: relative;padding-left:20px;font-weight:700;}
.btn-base > * em::before{
  content:'';
  display:inline-block;
  width:16px;
  height:16px;
  position: absolute;
  left:0;
  top:2px;
  -webkit-mask-size: 100%;
  mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: #fff;
}
.btn-base > * em.vmsdata::before{
  mask-image:url(../img/icon/ico-s-vmsdata-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-vmsdata-w.svg);
}
.btn-base > * em.time::before{
  mask-image:url(../img/icon/ico-s-time-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-time-w.svg);
}
.btn-base > * em.onoff::before{
  mask-image:url(../img/icon/ico-s-onoff-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-onoff-w.svg);
}
.btn-base > * em.on::before{
  mask-image:url(../img/icon/ico-s-onoff-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-onoff-w.svg);
}
.btn-base > * em.off::before{
  mask-image:url(../img/icon/ico-s-off-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-off-w.svg);
}
.btn-base > * em.play::before{
  mask-image:url(../img/icon/ico-s-play-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-play-w.svg);
}
.btn-base > * em.management::before{
  mask-image:url(../img/icon/ico-s-management-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-management-w.svg);
}
.btn-base > * em.cancel::before{
  mask-image:url(../img/icon/ico-s-cancel-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-cancel-w.svg);
}
.btn-base > * em.apply::before{
  mask-image:url(../img/icon/ico-s-apply-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-apply-w.svg);
}
.btn-base > * em.list::before{
  mask-image:url(../img/icon/ico-s-list-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-list-w.svg);
}
.btn-base > * em.delete::before{
  mask-image:url(../img/icon/ico-s-delete-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-delete-w.svg);
}
.btn-base > * em.add::before{
  mask-image:url(../img/icon/ico-s-add-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-add-w.svg);
}
.btn-base > * em.modify::before{
  mask-image:url(../img/icon/ico-s-modify-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-modify-w.svg);
}
.btn-base > * em.save::before{
  mask-image:url(../img/icon/ico-s-save.svg);
  -webkit-mask-image:url(../img/icon/ico-s-save.svg);
}
.btn-base > * em.refresh::before{
  mask-image:url(../img/icon/ico-s-refresh-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-refresh-w.svg);
}
.btn-base > * em.search::before{
  mask-image:url(../img/icon/ico-s-search-w.svg);
  -webkit-mask-image:url(../img/icon/ico-s-search-w.svg);
}
.btn-base.tp2 > *{background-color: #ff3162;}
.btn-base.tp2 > *:hover{background-color: #fd003c;}
.btn-base.tp3 > *{background-color: #616c8b;}
.btn-base.tp3 > *:hover{background-color: #4c556d;}
.btn-base.disabled > *{background-color:#373d4f;color:#99a2b9;cursor:default;}
.btn-base.disabled > *:hover{background-color:#373d4f;}
.btn-base.disabled > * em::before{opacity:0.3;}
.btns-wrap{font-size:0;}
.btns-wrap .btn-base{margin-left:8px;}
.btns-wrap .btn-base:first-of-type{margin-left:0;}
.btns-wrap .toggle-area + .btn-base{margin-left:16px;}
.btn-base.md > *{padding:6px 20px;}
.btn-ico{width:40px;height:40px;background-color:#2c3240;border:1px solid #2c3240;border-radius:8px;}
.btn-layer{background-image:url(../img/icon/ico-layer-def.svg);}
.btn-layer:hover, .btn-layer.on{background-image:url(../img/icon/ico-layer-hov.svg);border:1px solid var(--color-primary);}
.btn-plus{background-image:url(../img/icon/ico-plus-def.svg);}
.btn-plus:hover, .btn-plus.on{background-image:url(../img/icon/ico-plus-hov.svg);}
.btn-minus{background-image:url(../img/icon/ico-minus-def.svg);}
.btn-minus:hover, .btn-minus.on{background-image:url(../img/icon/ico-minus-hov.svg);}
.btn-refresh{background-image:url(../img/icon/ico-refresh-def.svg);}
.btn-refresh:hover, .btn-refresh.on{background-image:url(../img/icon/ico-refresh-hov.svg);}
.btn-index{background-image:url(../img/icon/ico-index-def.svg);}
.btn-index:hover, .btn-index.on{background-image:url(../img/icon/ico-index-hov.svg);border:1px solid var(--color-primary);}
.btn-close{width:24px;height:24px;background:url(../img/icon/ico-close-hor.svg) 50% 50% no-repeat;}
.btn-accident{background-image:url(../img/icon/ico-s-accident-g.svg);}
.btn-accident:hover, .btn-accident.on{background-image:url(../img/icon/ico-s-accident-b.svg);border:1px solid var(--color-primary);}
.btn-status{background-image:url(../img/icon/ico-s-status-g.svg);}
.btn-status:hover, .btn-status.on{background-image:url(../img/icon/ico-s-status-b.svg);border:1px solid var(--color-primary);}
.toggle-area{display:inline-block;}
.toggle-area > *{vertical-align:middle;}
.s-label{display:inline-block;font-size:13px;line-height:19px;color:#99a2b9;margin-right:4px;}
.s-toggle{display:inline-block;width:40px;height:20px;border-radius:10px;background-color:#4c556d;position: relative;}
.s-toggle::before{content:'';display:inline-block;width:14px;height:14px;background-color:#7b86a4;border-radius:50%;position: absolute;left:4px;top:3px;transition:left 0.2s, background-color 0.2s;}
.s-toggle.on::before{background-color:#008fff;border:1px solid #33a5ff;left:22px;}

/* icon */
.s-ico:not(.ai){display:inline-block;width:28px;height:28px;background-position:50% 50%;background-repeat:no-repeat;border-radius:50%;cursor:pointer;position: relative;z-index:1;}
.s-ico:not(.ai).lidar{background-image:url(../img/icon/ico-s-lidar-def.svg);background-color:#490083;}
.s-ico:not(.ai).radar{background-image:url(../img/icon/ico-s-radar-def.svg);background-color:#0c523f;}
.s-ico:not(.ai).cctv{background-image:url(../img/icon/ico-s-cctv-def.svg);background-color:#003966;}
.s-ico:not(.ai).vms{background-image:url(../img/icon/ico-s-vms-def.svg);background-color:#312193;}
.s-ico:not(.ai).dfs{background-image:url(../img/icon/ico-s-dfs-def.svg);background-color:rgba(5, 89, 100, 0.8);}
.s-ico:not(.ai).roadsurface{background-image:url(../img/icon/ico-s-roadsurface-def.svg);background-color:#671068;}
.s-ico:not(.ai).signal{background-image:url(../img/icon/ico-s-signal-def.svg);background-color:#306c36;}
.s-ico:not(.ai).lidar:not(.disabled).on{background-image:url(../img/icon/ico-s-lidar-hor.svg);box-shadow: 0 0 8px 0 rgba(155, 29, 255, 0.5);background-color: #9b1dff;}
.s-ico:not(.ai).radar:not(.disabled).on{background-image:url(../img/icon/ico-s-radar-hor.svg);box-shadow: 0 0 8px 0 rgba(70, 228, 184, 0.5);background-color: #25c99b;}
.s-ico:not(.ai).cctv:not(.disabled).on{background-image:url(../img/icon/ico-s-cctv-hor.svg);box-shadow: 0 0 8px 0 rgba(0, 143, 255, 0.5);background-color: #008fff;}
.s-ico:not(.ai).vms:not(.disabled).on{background-image:url(../img/icon/ico-s-vms-hor.svg);box-shadow: 0 0 8px 0 rgba(91, 64, 255, 0.5);background-color: #5b40ff;}
.s-ico:not(.ai).dfs:not(.disabled).on{background-image:url(../img/icon/ico-s-dfs-hor.svg);box-shadow: 0 0 8px 0 rgba(17, 215, 242, 0.5);background-color: rgba(17, 215, 242, 0.8);}
.s-ico:not(.ai).roadsurface:not(.disabled).on{background-image:url(../img/icon/ico-s-roadsurface-hor.svg);box-shadow: 0 0 8px 0 rgba(221, 49, 224, 0.5);background-color: #dd31e0;}
.s-ico:not(.ai).signal:not(.disabled).on{background-image:url(../img/icon/ico-s-signal-hor.svg);box-shadow: 0 0 8px 0 rgba(221, 49, 224, 0.5);background-color: #4cb556;}
.s-ico:not(.ai).on{z-index:2;}
.s-ico:not(.ai).disabled{background-color: #373d4f;pointer-events:none;}

.s-ico:not(.ai).new.lidar{background-image:url(../img/icon/new/ico-s-lidar-def.svg);background-color:#fe6e26;}
.s-ico:not(.ai).new.radar{background-image:url(../img/icon/new/ico-s-radar-def.svg);background-color:#48c560;}
.s-ico:not(.ai).new.cctv{background-image:url(../img/icon/new/ico-s-cctv-def.svg);background-color:#008fff;}
.s-ico:not(.ai).new.vms{background-image:url(../img/icon/new/ico-s-vms-def.svg);background-color:#5b40ff;}
.s-ico:not(.ai).new.dfs{background-image:url(../img/icon/new/ico-s-dfs-def.svg);background-color:#15b4cc;}
.s-ico:not(.ai).new.roadsurface{background-image:url(../img/icon/new/ico-s-roadsurface-def.svg);background-color:#df4ff0;}
.s-ico:not(.ai).new.signal{background-image:url(../img/icon/new/ico-s-signal-def.svg);background-color:#ff4a78;}

.s-ico:not(.ai).new:not(.disabled).on.lidar{background-image:url(../img/icon/new/ico-s-lidar-hor.svg);background-color: rgba(255, 255, 255, 0.9);}
.s-ico:not(.ai).new:not(.disabled).on.radar{background-image:url(../img/icon/new/ico-s-radar-hor.svg);background-color: rgba(255, 255, 255, 0.9);}
.s-ico:not(.ai).new:not(.disabled).on.cctv{background-image:url(../img/icon/new/ico-s-cctv-hor.svg);background-color: rgba(255, 255, 255, 0.9);}
.s-ico:not(.ai).new:not(.disabled).on.vms{background-image:url(../img/icon/new/ico-s-vms-hor.svg);background-color: rgba(255, 255, 255, 0.9);}
.s-ico:not(.ai).new:not(.disabled).on.dfs{background-image:url(../img/icon/new/ico-s-dfs-hor.svg);background-color: rgba(255, 255, 255, 0.9);}
.s-ico:not(.ai).new:not(.disabled).on.roadsurface{background-image:url(../img/icon/new/ico-s-roadsurface-hor.svg);background-color: rgba(255, 255, 255, 0.9);}
.s-ico:not(.ai).new:not(.disabled).on.signal{background-image:url(../img/icon/new/ico-s-signal-hor.svg);background-color: rgba(255, 255, 255, 0.9);}

.s-ico:not(.ai).new.disabled.lidar{background-image:url(../img/icon/new/ico-s-lidar-dis.svg);background-color: #373d4f;}
.s-ico:not(.ai).new.disabled.radar{background-image:url(../img/icon/new/ico-s-radar-dis.svg);background-color: #373d4f;}
.s-ico:not(.ai).new.disabled.cctv{background-image:url(../img/icon/new/ico-s-cctv-dis.svg);background-color: #373d4f;}
.s-ico:not(.ai).new.disabled.vms{background-image:url(../img/icon/new/ico-s-vms-dis.svg);background-color: #373d4f;}
.s-ico:not(.ai).new.disabled.dfs{background-image:url(../img/icon/new/ico-s-dfs-dis.svg);background-color: #373d4f;}
.s-ico:not(.ai).new.disabled.roadsurface{background-image:url(../img/icon/new/ico-s-roadsurface-dis.svg);background-color: #373d4f;}
.s-ico:not(.ai).new.disabled.signal{background-image:url(../img/icon/new/ico-s-signal-dis.svg);background-color: #373d4f;}


/* modal */
.modal-wrap{position:absolute;border:1px solid #2c3240;width:302px;border-radius:8px;overflow:hidden;display:none;z-index:9;}
.modal-wrap .modal-top{background-color: #222631;padding:10px 16px;display:flex;justify-content:space-between;align-items:center;}
.modal-wrap .modal-top .modal-title{font-size:16px;font-weight:bold;color:#b8bdcd;}
.modal-wrap .modal-top .modal-r{display:flex;align-items:center;gap:0 4px;}
.modal-wrap .modal-content{height:226px;background-color:#000;background-repeat:no-repeat;background-position:50% 50%;background-size:contain;position: relative;}
.modal-wrap .modal-content img{vertical-align:middle;}
.modal-wrap .modal-content iframe{position: absolute;width:100%;height:100%;}
.modal-wrap.type-2{border-color:#008fff;background-color: rgba(34, 38, 49, 0.9);}
.modal-wrap .modal-info{padding:10px 8px 10px 16px;}
.modal-wrap .modal-info li{display:flex;justify-content:space-between;align-items:center;font-size:13px;line-height:1.4;margin-top:4px;}
.modal-wrap .modal-info li:first-child{margin-top:0;}
.modal-wrap .modal-info li .label{color:#b8bdcd;}
.modal-wrap .modal-info li .result{color:#f4f5f7;}

.modal-wrap .modal-head{padding:14.5px 16px;background-color:#2c3240;position: relative;}
.modal-wrap .modal-head .tit{color:#008fff;font-size:16px;font-weight:700;}
.modal-wrap .modal-head .close{position:absolute;right:8px;top:12px;display:block;width:24px;height:24px;background:url(../img/ico-close-hor.png) 50% 50% no-repeat;}
.modal-wrap .modal-period{background-color: #2c3240;padding:6.5px 16px;display:flex;justify-content:space-between;font-size:13px;font-weight:600;color:#b8bdcd;line-height:1.4;border-bottom:1px solid #008fff;}
.modal-wrap .modal-cell{background-color: rgba(0, 0, 0, 0.2);padding:16px;}
.modal-wrap .cell-wrap{display:flex;gap:0 8px;align-items: center;}
.modal-wrap .cell-wrap [class*=cell-btn]{flex-shrink:0;width:12px;height:21px;background:url(../img/ico-arrow.png) 0 0 no-repeat;}
.modal-wrap .cell-wrap .cell-btn-l{}
.modal-wrap .cell-wrap .cell-btn-r{transform:rotate(180deg);}
.modal-wrap .cell-wrap [class*=cell-btn].off{opacity:0;cursor:default;}
.modal-wrap .cell-wrap .cell-area{flex-grow:1;}
.cell-box-wrap ul{display:flex;border-top:1px solid #383d4f;}
.cell-box-wrap ul:first-child{border-top:0;}
.cell-box-wrap ul li{flex:1;height:44px;display:flex;justify-content: center;align-items:center;border-left:1px solid #373d4f;color:#fff;font-size:13px;font-weight:700;line-height:1.4;}
.cell-box-wrap ul li.green{background-color:rgba(70, 228, 184, 0.85);}
.cell-box-wrap ul li.red{background-color:rgba(255, 49, 98, 0.8);}
.cell-box-wrap ul li.yellow{background-color: rgba(255, 224, 52, 0.85);color:#222631;}
.cell-box-wrap ul li:first-child{border-left:0;}
.cell-period{display:flex;justify-content:space-between;font-size:13px;font-weight:600;line-height:1.4;color:#b8bdcd;padding:0 20px;margin:8px 0;gap:0 10px;}
.cell-period .label{flex-shrink:0;}
.cell-period .line{flex-grow:1;background:url(../img/img-gotline.png) 0 50% repeat-x;}

/* popup */
.mfp-wrap{-webkit-overflow-scrolling:touch}
.mfp-zin.mfp-bg,
.mfp-slide-b.mfp-bg{opacity:0;-webkit-transition:opacity .3s ease-out;transition:opacity .3s ease-out;}
.mfp-zin.mfp-bg.mfp-ready,
.mfp-slide-b.mfp-bg.mfp-ready{opacity:.8;}
.mfp-zin.mfp-bg.mfp-removing,
.mfp-slide-b.mfp-bg.mfp-removing{opacity:0;}
.mfp-zin .z-anim{opacity:0;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-transform:scale(0.8);transform:scale(0.8);}
.mfp-zin.mfp-ready .z-anim{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
.mfp-zin.mfp-removing .z-anim{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:0;}
.mfp-slide-b .z-anim{opacity:0;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;-webkit-transform:translateY(-20px) perspective(600px) rotateX(10deg);transform:translateY(-20px) perspective(600px) rotateX(10deg);}
.mfp-slide-b.mfp-ready .z-anim{opacity:1;-webkit-transform:translateY(0) perspective(600px) rotateX(0);transform:translateY(0) perspective(600px) rotateX(0);}
.mfp-slide-b.mfp-removing .z-anim{opacity:0;-webkit-transform:translateY(-10px) perspective(600px) rotateX(10deg);transform:translateY(-10px) perspective(600px) rotateX(10deg);}
.popup-wrap{position:relative;background:#2c3240;margin:20px auto;border-radius:10px;}
.fade-slideup .popup-wrap{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:translateY(100%);transform:translateY(100%);}
.fade-slideup.mfp-ready .popup-wrap{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
.fade-slideup.mfp-removing .popup-wrap{opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%);}
.popup-wrap.fullpage{margin:0;min-height:100vh;}
[class*=popup-wrap] button.mfp-close,
.popup-wrap button.mfp-arrow{width:24px;height:24px;background:url(../img/icon/ico-close-hor.svg) 0 0 no-repeat;top:18px;right:20px;font-size:0;}
[class*=popup-wrap] .tit{font-size:18px;line-height:26px;padding:17px 20px;color:#008fff;font-weight:bold;}
[class*=popup-wrap] .con-wrap{position:relative;padding:0 20px 30px;}
[class*=popup-wrap] .con-wrap .btns-wrap{margin-top:20px;}
[class*=popup-wrap] .scenario-item{min-height:306px;}

/* tabulator */
.c-table.tabulator{height:766px;border:0;border-bottom:1px solid rgba(0, 143, 255, 0.2);}
.c-table.tabulator, .c-table.tabulator .tabulator-header,
.c-table.tabulator .tabulator-header .tabulator-col{background:transparent;}
.c-table.tabulator .tabulator-header{border-bottom:1px solid #008fff;}
.c-table.tabulator .tabulator-header::after{content:'';display:inline-block;position: absolute;right:0;top:0;background: #373d4f;position: absolute;right:0;top:0;width:17px;height:100%;display:none;}
.c-table.tabulator .tabulator-header .tabulator-col{border-right:none;}
.c-table.tabulator .tabulator-tableholder::-webkit-scrollbar{background:#373d4f;width:12px;} 
.c-table.tabulator .tabulator-tableholder::-webkit-scrollbar-track { border-radius: 6px; background: transparent;} 
.c-table.tabulator .tabulator-tableholder::-webkit-scrollbar-thumb { background: #4c556d; border-radius: 6px; background-clip: padding-box; border: 3px solid transparent; }
.c-table.tabulator .tabulator-tableholder .tabulator-table{background-color:transparent;}
.c-table.tabulator .tabulator-row{background-color: rgba(34, 38, 49, 0.5);}
.c-table.tabulator .tabulator-row.tabulator-row-even{background-color: transparent;}
.c-table.tabulator .tabulator-row.tabulator-selectable:hover{background-color: rgba(0, 143, 255, 0.2);}
.c-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover{background-color: rgba(0, 143, 255, 0.2);}
.c-table.tabulator .tabulator-row.tabulator-row-even:hover{background-color: rgba(0, 143, 255, 0.2);}
.c-table.tabulator .tabulator-row .tabulator-cell{padding:9px;border-right:none;font-size:13px;color:#d6d9e2;}
.c-table.tabulator .tabulator-header .tabulator-col .tabulator-col-content{padding:9px;}

.c-table.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title-holder{display:flex;justify-content:center;}
.c-table.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title{font-size:13px;font-weight:600;color:#7b86a4;text-align:center;padding-right:0;width:auto;}
.c-table.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter{position:static;margin-left:4px;}

.c-table.tabulator .tabulator-header .tabulator-col:hover .tabulator-col-content .tabulator-col-title{color:#fff;}
.c-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=none]:hover .tabulator-col-content .tabulator-col-sorter .tabulator-arrow{border-bottom-color:#008fff;}
.c-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=descending]:hover .tabulator-col-content .tabulator-col-sorter .tabulator-arrow{border-top-color:#008fff;}
.c-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=ascending]:hover .tabulator-col-content .tabulator-col-sorter .tabulator-arrow{border-bottom-color:#008fff;}

.c-table.tabulator .tabulator-row.on .tabulator-cell{color:#fff;}
.c-table.tabulator .tabulator-row.tabulator-selectable.on{background-color: rgba(0, 143, 255, 0.2);}
.c-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover{background-color: rgba(0, 143, 255, 0.2);}
.c-table.tabulator .tabulator-row.tabulator-row-even.on{background-color: rgba(0, 143, 255, 0.2);}

.c-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=none] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow{border-bottom-color:#616c8b;}
.c-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=descending] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow{border-top-color:#616c8b;}
.c-table.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=ascending] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow{border-bottom-color:#616c8b;}
.c-table.tabulator .tabulator-row .tabulator-cell .state{font-size:0;}
.c-table.tabulator .tabulator-row .tabulator-cell .state > *{display:inline-block;vertical-align:middle;font-size:13px;}
.c-table.tabulator .tabulator-row .tabulator-cell .state em{margin-left:4px;}
.c-table.tabulator input[type="checkbox"]{width:16px;height:16px;background:url(../img/icon/ck-off.svg) 0 0 no-repeat;-webkit-appearance:none;}
.c-table.tabulator input[type="checkbox"]:checked{background:url(../img/icon/ck-on.svg) 0 0 no-repeat;}

/* selectbox */
.select-base{position:relative;display:block;width:100%;height:38px;cursor:pointer;border:1px solid #222631;background-color: #222631;border-radius:8px;}
.select-base:hover{border:1px solid #008fff;}
.select-base:after{content:'';display:block;background:url(../img/icon/ic_stb_arrow.svg) 0 0 
  no-repeat;width:9px;height:5px;position:absolute;right:11px;top:15px;}
.select-base .value{display:block;padding-left:16px;padding-right:30px;height:38px;line-height:38px;font-size:13px;color:#b8bdcd;font-weight:600;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.select-base select{position:absolute;left:0;top:0px;padding-left:16px;width:100%;height:38px;line-height:38px;font-size:13px;text-align:left;border:0;background:#fff;opacity:0;filter:alpha(opacity=0);z-index:1;cursor:pointer;}
.select-base.disabled{background:rgba(0, 0, 0, 0.04);cursor:default;}
.select-base.disabled select{display:none;}
/* .select-base.active{border:1px solid #008fff;}
.select-base.active .value{color:#008fff;} */

/* table */
.tb-list{table-layout:fixed;width:100%;}
.tb-list th, .tb-list td{padding:9.5px 10px;font-size:13px;line-height:1.4;text-align:center;}
.tb-list th{font-weight:600;color:#7b86a4;border-bottom:1px solid #008fff;}
.tb-list td{color:#d6d9e2;border-left:1px solid #373d4f;border-bottom:1px solid #373d4f;height:38px;}
.tb-list td.bl0{border-left:0;}
.tb-list td .btn-add-scenario{display:block;padding:9.5px 10px;text-align:center;}
.tb-list td .btn-add-scenario em{font-size:13px;display:inline-block;position: relative;padding-left:25px;line-height:1.4;color:#fff;}
.tb-list td .btn-add-scenario em::before{content:'';display:inline-block;width:16px;height:16px;background:url(../img/icon/ico-s-add-w.svg) 50% 50% no-repeat;position:absolute;left:0;top:0;}
.tb-list td.evt-td{padding:0;}
.tb-list tr:not(.disabled) td.evt-td:hover,
.tb-list tr:not(.disabled) td.evt-td:hover ~ td{background-color: rgba(0, 143, 255, 0.2);}
.tb-list tr:not(.disabled) td.evt-td:hover .btn-add-scenario em::before{opacity:1;}
.tb-list tr:not(.disabled) td.evt{cursor:pointer;}
.tb-list tr.on td.evt{background-color: rgba(0, 143, 255, 0.2);}
.tb-list tr.disabled td{background-color:#222631;color:#616c8b;}
.tb-list tr.disabled .btn-add-scenario{pointer-events:none;}
.tb-list tr.disabled .btn-add-scenario em{color:#616c8b;}
.tb-list tr.disabled .btn-add-scenario em::before{opacity:0.3;}

.tb-list-tp2{table-layout:fixed;width:100%;}
.tb-list-tp2 th, .tb-list-tp2 td{font-size:13px;line-height:1.4;text-align:center;border-left:1px solid #373d4f;border-bottom:1px solid #373d4f;}
.tb-list-tp2 thead th{border-bottom:1px solid #008fff;}
.tb-list-tp2 th:first-child{border-right:1px solid #008fff;border-left:0;}
.tb-list-tp2 th{font-weight:600;color:#7b86a4;background:rgba(34, 38, 49, 0.5);padding:9px;}
.tb-list-tp2 td{color:#d6d9e2;padding:12.5px 9px;}
.tb-list-tp2 td.red{background-color: rgba(255, 49, 98, 0.7);}
.tb-list-tp2 tbody tr.ai th, .tb-list-tp2 tbody tr.ai + tr td{border-bottom:1px solid rgba(0, 143, 255, 0.2);}
.tb-list-tp2 tbody tr.line th, .tb-list-tp2 tbody tr.line td{border-bottom:1px solid rgba(0, 143, 255, 0.2);}

/* tab */
.tab-base{border-radius:4px;overflow:hidden;}
.tab-base ul{display:flex;}
.tab-base li{width:33.333%;}
.tab-base.col2 li{width:50%;}
.tab-base.col5 li{width:20%;}
.tab-base li a{display:block;text-align:center;font-size:14px;color:#99a2b9;background-color:#373d4f;padding:6px 8px;line-height:20px;}
.tab-base li.on a{background-color:#008fff;color:#fff;}
.tab-base.type-2 li{width:auto;}
.tab-base.type-2 li a{padding:8px 30px 8px 20px;position:relative;font-weight:700;}
.tab-base.type-2 li.on a::after{content:'';display:block;width:16px;height:16px;background:url(../img/icon/ico-s-apply-w.svg) 50% 50% no-repeat;position: absolute;right:10px;top:10px;}
.panel-base{margin-top:8px;}
.panel-base > li{display:none;}

/* paging */
.paging-wrap{text-align:center;font-size:0;margin-top:16px;}
.paging-wrap a{display:inline-block;font-size:13px;font-weight:600;line-height:19px;color:#b8bdcd;margin:0 8px;vertical-align:middle;}
.paging-wrap a.on, .paging-wrap a:hover{color:#008fff;}
.paging-wrap .btn-prev, .paging-wrap .btn-next{width:25px;height:24px;background-position:0 0;background-repeat:no-repeat;}
.paging-wrap .btn-prev{background-image:url(../img/icon/ico-next-g.svg);transform:rotate(180deg);}
.paging-wrap .btn-prev:hover{background-image:url(../img/icon/ico-next-b.svg);}
.paging-wrap .btn-next{background-image:url(../img/icon/ico-next-g.svg);}
.paging-wrap .btn-next:hover{background-image:url(../img/icon/ico-next-b.svg);}

/* counter */
.counter-base{display:inline-block;font-size:0;padding:9px 16px;background-color: #222631;border-radius:8px;position: relative;vertical-align:middle;border:1px solid #222631;}
.counter-base input{font-size:13px;font-weight:600;color:#b8bdcd;background-color:transparent;border:0;width:58px;}
.counter-base button{font-size:0;background-position:0 0;background-repeat:no-repeat;width:10px;height:5px;position: absolute;right:4.5px;}
.counter-base .btn-plus{background-image:url(../img/icon/ic_stb_arrow.svg);top:10px;transform:rotate(180deg);right:5px;}
.counter-base .btn-minus{background-image:url(../img/icon/ic_stb_arrow.svg);bottom:10px;}
.counter-base .btn-plus:hover{background-image:url(../img/icon/ic_stb_arrow_b.svg);}
.counter-base .btn-minus:hover{background-image:url(../img/icon/ic_stb_arrow_b.svg);}
.counter-base.on{border:1px solid #008fff;}

/* 2024-11 추가 - seoul */
/* datepicker */
.tui-datepicker{border-radius:4px;overflow:hidden;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);border: 0;background-color:transparent;z-index:1;}
.tui-datepicker-type-date, .tui-calendar{width:238px;}
.tui-datepicker .tui-calendar{padding-bottom:8px;background-color: rgba(59, 63, 92, 0.95);}
.tui-datepicker-body .tui-timepicker, .tui-datepicker-footer .tui-timepicker{width:238px;}
.tui-calendar .tui-calendar-body{padding-top:8px;}
.tui-calendar th{height:21px;}
.tui-calendar .tui-calendar-body-header th{color:#b2bbce;font-size:13px;}
.tui-calendar td{height:32px;color:#fff;font-size:14px;}
.tui-datepicker .tui-is-blocked{color:#778298;}
.tui-datepicker-input{height:38px;border:0;width:200px;}
.tui-datepicker-input > input{padding:10px 27px 10px 16px;font-size:13px;color:#b2bbce;border-radius:8px;background-color:#222631;border:1px solid #222631;}
.tui-datepicker-input > input:focus{border:1px solid #008fff;color:#008fff;}
.tui-datepicker-input > input:disabled{background-color:rgba(79, 82, 107, 0.3);color:rgba(255, 255, 255, 0.3);}
.tui-calendar .tui-calendar-title{color:#fff;}
.tui-calendar .tui-calendar-title-today{font-size:14px;}
.tui-calendar .tui-calendar-title-today,
.tui-calendar .tui-calendar-title-today:hover{background-color: rgba(0, 0, 0, 0.1);color:#fff;}
.tui-calendar .tui-calendar-header{border-bottom:0;}
.tui-calendar .tui-calendar-btn-prev-month:after{background:url(../img/ico-16-arrowleft-def.png) 50% 50% no-repeat;}
.tui-calendar .tui-calendar-btn-next-month:after{background:url(../img/ico-16-arrowright-def.png) 50% 50% no-repeat;}
.tui-calendar-btn{background-color: transparent;}
.tui-datepicker.tui-rangepicker .tui-is-selected-range{background-color:rgba(26, 194, 255, 0.15);color:#fff;}
.tui-datepicker .tui-is-selectable:hover{/*-color:rgba(255, 255, 255, 0.1);color:#fff;border-radius:4px;*/background-color:inherit;color:#fff;background-color: rgba(0, 143, 255, 0.2);border-radius:4px;}
.tui-datepicker .tui-is-selectable.tui-is-selected, .tui-datepicker.tui-rangepicker .tui-is-selectable.tui-is-selected{background-color:#00bbfe;border-radius:4px;}
.tui-calendar .tui-calendar-today{color:#00bbfe;}
.tui-calendar .tui-calendar-today:hover{color:#00bbfe;}
.tui-datepicker-input.tui-has-focus .tui-ico-date{background-position:0 0;width:24px;height:24px;right:8px;top:8px;margin:0;background-image:url(../img/ico-24-calendar-def.png);}
.tui-datepicker-input.tui-has-focus input:focus + .tui-ico-date{background-image:url(../img/ico-24-calendar-act.png);}
.tui-datepicker-input.tui-has-focus input:disabled + .tui-ico-date{background-image:url(../img/ico-24-calendar-dis.png);}
.tui-calendar-header-info{display:none;}

.tb-list.ai{table-layout:fixed;width:100%;}
.tb-list.ai th, .tb-list.ai td{font-size:13px;line-height:1.4;text-align:center;border-bottom:1px solid #373d4f;border-left:0;}
.tb-list.ai thead th{border-bottom:1px solid #008fff;}
.tb-list.ai th{font-weight:600;color:#fff;background-color:rgba(34, 38, 49, 0.5);padding:9px;}
.tb-list.ai th.first{color:#7b86a4;}
.tb-list.ai td{color:#d6d9e2;padding:9.5px 9px;}
.tb-list.ai td.red{background-color: rgba(255, 49, 98, 0.7);}

.input-wrap.ai{margin-top:0;gap:0 8px;}
.input-wrap.ai .select-base{width:100%;}
.input-wrap.ai .btn-ico{width:16px;height:16px;}
.input-wrap.ai .btn-refresh{background-image:url(../img/seoul/ico-s-refresh-w.png);}

/* .input-wrap{display:flex;align-items:center;position:relative;gap:0 8px;} */
.input-wrap.ai .label{font-size:13px;font-weight:600;color:#b8bdcd;flex-shrink:0;padding-left:8px;position: relative;}
.input-wrap.ai .label:first-child{padding-left:0;}
.input-wrap.ai .label::before{content:'';display:block;width:1px;height:16px;background-color: #4c556d;position:absolute;left:0;top:1px;}
.input-wrap.ai .label:first-child::before{display:none;}
.input-wrap.ai .bridge{margin:0;font-weight:600;color:#b8bdcd;}

.radio-base.ai input{position:absolute;display:none;}
.radio-base.ai input + label{position:relative;padding-left:20px;font-size:14px;font-weight:500;color:#b8bdcd;display:inline-block;line-height:14px;vertical-align:middle;}
.radio-base.ai input + label:before{content:'';display:block;width:14px;height:14px;position: absolute;left:0;top:0;border-radius:50%;border:1px solid #4c556d;background-color:#2c3240;}
.radio-base.ai input:checked + label:before{background-color: #008fff;border-color:#008fff;}
.radio-base.ai input:checked + label:after{content:'';display:block;width:6px;height:6px;position:absolute;left:4px;top:4px;background:#fff;border-radius:50%;}
.radio-list.ai{font-size:0;}
.radio-list.ai li{display:inline-block;margin-left:8px;}
.radio-list.ai li:first-child{margin-left:0;}

.s-ico.ai{display:inline-block;background-position:50% 50%;background-repeat:no-repeat;border-radius:50%;cursor:pointer;position: relative;z-index:1;}

.s-ico.ai.tp1{width:18px;height:18px;}
.s-ico.ai.tp1.radar{background-image:url(../img/seoul/ico-s-radar-def.svg);}
.s-ico.ai.tp1.cctv{background-image:url(../img/seoul/ico-s-cctv-def.svg);}
.s-ico.ai.tp1.vms{background-image:url(../img/seoul/ico-s-vms-def.svg);}
.s-ico.ai.tp1.dfs{background-image:url(../img/seoul/ico-s-dfs-def.svg);}
.s-ico.ai.tp1.vds{background-image:url(../img/seoul/ico-s-vds-def.svg);}
.s-ico.ai.tp1.all{background-image:url(../img/seoul/ico-s-all-def.svg);}

.s-ico.ai.tp1.radar:hover, .s-ico.ai.tp1.radar.on{background-image:url(../img/seoul/ico-s-radar-hor.svg);}
.s-ico.ai.tp1.cctv:hover, .s-ico.ai.tp1.cctv.on{background-image:url(../img/seoul/ico-s-cctv-hor.svg);}
.s-ico.ai.tp1.vms:hover, .s-ico.ai.tp1.vms.on{background-image:url(../img/seoul/ico-s-vms-hor.svg);}
.s-ico.ai.tp1.dfs:hover, .s-ico.ai.tp1.dfs.on{background-image:url(../img/seoul/ico-s-dfs-hor.svg);}
.s-ico.ai.tp1.vds:hover, .s-ico.ai.tp1.vds.on{background-image:url(../img/seoul/ico-s-vds-hor.svg);}
.s-ico.ai.tp1.all:hover, .s-ico.ai.tp1.all.on{background-image:url(../img/seoul/ico-s-all-hor.svg);}

.s-ico.ai.tp1.radar.disabled{background-image:url(../img/seoul/ico-s-radar-dis.svg);}
.s-ico.ai.tp1.cctv.disabled{background-image:url(../img/seoul/ico-s-cctv-dis.svg);}
.s-ico.ai.tp1.vms.disabled{background-image:url(../img/seoul/ico-s-vms-dis.svg);}
.s-ico.ai.tp1.dfs.disabled{background-image:url(../img/seoul/ico-s-dfs-dis.svg);}
.s-ico.ai.tp1.vds.disabled{background-image:url(../img/seoul/ico-s-vds-dis.svg);}
.s-ico.ai.tp1.all.disabled{background-image:url(../img/seoul/ico-s-all-dis.svg);}


.s-ico.ai.tp2{width:28px;height:28px;}
.s-ico.ai.tp2.radar{background-image:url(../img/seoul/ico-radar-poi-def.svg);}
.s-ico.ai.tp2.cctv{background-image:url(../img/seoul/ico-cctv-poi-def.svg);}
.s-ico.ai.tp2.vms{background-image:url(../img/seoul/ico-vms-poi-def.svg);}
.s-ico.ai.tp2.dfs{background-image:url(../img/seoul/ico-dfs-poi-def.svg);}
.s-ico.ai.tp2.vds{background-image:url(../img/seoul/ico-vds-poi-def.svg);}
.s-ico.ai.tp2.all{background-image:url(../img/seoul/ico-all-poi-def.svg);}

.s-ico.ai.tp2.radar:hover, .s-ico.ai.tp2.radar.on{background-image:url(../img/seoul/ico-radar-poi-hor.svg);}
.s-ico.ai.tp2.cctv:hover, .s-ico.ai.tp2.cctv.on{background-image:url(../img/seoul/ico-cctv-poi-hor.svg);}
.s-ico.ai.tp2.vms:hover, .s-ico.ai.tp2.vms.on{background-image:url(../img/seoul/ico-vms-poi-hor.svg);}
.s-ico.ai.tp2.dfs:hover, .s-ico.ai.tp2.dfs.on{background-image:url(../img/seoul/ico-dfs-poi-hor.svg);}
.s-ico.ai.tp2.vds:hover, .s-ico.ai.tp2.vds.on{background-image:url(../img/seoul/ico-vds-poi-hor.svg);}
.s-ico.ai.tp2.all:hover, .s-ico.ai.tp2.all.on{background-image:url(../img/seoul/ico-all-poi-hor.svg);}

.s-ico.ai.tp2.radar.disabled{background-image:url(../img/seoul/ico-radar-poi-dis.svg);}
.s-ico.ai.tp2.cctv.disabled{background-image:url(../img/seoul/ico-cctv-poi-dis.svg);}
.s-ico.ai.tp2.vms.disabled{background-image:url(../img/seoul/ico-vms-poi-dis.svg);}
.s-ico.ai.tp2.dfs.disabled{background-image:url(../img/seoul/ico-dfs-poi-dis.svg);}
.s-ico.ai.tp2.vds.disabled{background-image:url(../img/seoul/ico-vds-poi-dis.svg);}
.s-ico.ai.tp2.all.disabled{background-image:url(../img/seoul/ico-all-poi-dis.svg);}
.s-ico.ai.tp2.poi:hover, .s-ico.ai.tp2.poi.on{box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);}

.s-ico.ai.tp3{width:24px;height:24px;}
.s-ico.ai.tp3.radar{background-image:url(../img/seoul/ico-radar-def.svg);}
.s-ico.ai.tp3.cctv{background-image:url(../img/seoul/ico-cctv-def.svg);}
.s-ico.ai.tp3.vms{background-image:url(../img/seoul/ico-vms-def.svg);}
.s-ico.ai.tp3.dfs{background-image:url(../img/seoul/ico-dfs-def.svg);}
.s-ico.ai.tp3.vds{background-image:url(../img/seoul/ico-vds-def.svg);}
.s-ico.ai.tp3.all{background-image:url(../img/seoul/ico-all-def.svg);}

.s-ico.ai.tp3.radar:hover, .s-ico.ai.tp3.radar.on{background-image:url(../img/seoul/ico-radar-hov.svg);}
.s-ico.ai.tp3.cctv:hover, .s-ico.ai.tp3.cctv.on{background-image:url(../img/seoul/ico-cctv-hov.svg);}
.s-ico.ai.tp3.vms:hover, .s-ico.ai.tp3.vms.on{background-image:url(../img/seoul/ico-vms-hov.svg);}
.s-ico.ai.tp3.dfs:hover, .s-ico.ai.tp3.dfs.on{background-image:url(../img/seoul/ico-dfs-hov.svg);}
.s-ico.ai.tp3.vds:hover, .s-ico.ai.tp3.vds.on{background-image:url(../img/seoul/ico-vds-hov.svg);}
.s-ico.ai.tp3.all:hover, .s-ico.ai.tp3.all.on{background-image:url(../img/seoul/ico-all-hov.svg);}

.s-ico.ai.on{z-index:2;}
.s-ico.ai.disabled{background-color: #373d4f;pointer-events:none;}

/* 2025-01 추가 */
.input-wrap.label-select{gap:0 8px;margin-top:0;}
.input-wrap.label-select .label{flex-shrink:0;width:80px;}
.input-wrap.label-select .select-base{width:100%;}

/* 2025-02 추가 */
.input-wrap.input-btn{width:468px;gap:0 9px;}
.input-wrap.input-btn .btn-base{width:auto;flex-shrink:0;}

.period-detail.ver-label.ver-relative.ver-cell{padding:16px 118px;position: relative;}
.period-detail.ver-label.ver-relative.ver-cell .fe-label{left:20px;}
.period-detail.ver-label.ver-relative.ver-cell .be-label{right:20px;}
.period-detail.ver-label.ver-relative.ver-cell .fe-label,
.period-detail.ver-label.ver-relative.ver-cell .be-label{top:50%;transform:translateY(-50%);padding:4px 16px;border-radius: 16px;
background-color: rgba(0, 143, 255, 0.2);font-size:14px;}
.period-detail.ver-cell .cell-box-wrap ul li{height:26px;}

.period-detail.ver-cell .cell-wrap{display:flex;gap:0 8px;align-items: center;}
.period-detail.ver-cell .cell-wrap [class*=cell-btn]{flex-shrink:0;width:12px;height:21px;background:url(../img/ico-arrow.png) 0 0 no-repeat;}
.period-detail.ver-cell .cell-wrap .cell-btn-r{transform:rotate(180deg);}
.period-detail.ver-cell .cell-wrap [class*=cell-btn].off{opacity:0;cursor:default;}
.period-detail.ver-cell .cell-wrap .cell-area{flex-grow:1;}

[class*=popup-wrap] .tit.w-tip{display:inline-block;position: relative;z-index:1;}
[class*=popup-wrap] .tit.w-tip .tip{display:flex;align-items: center;gap:0 8px;cursor:pointer;}
[class*=popup-wrap] .tit.w-tip .tip::after{content:'';display:block;width:24px;height:24px;background:url(../img/ico-info-def.png) 50% 50% no-repeat;}
[class*=popup-wrap] .tit.w-tip .tip.on::after{background:url(../img/ico-info-hov.png) 50% 50% no-repeat;}
[class*=popup-wrap] .tit.w-tip .tip-content{font-size:13px;color:#b8bdcd;font-weight:400;position: absolute;border-radius: 8px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);background-color: #373d4f;padding:12px 16px;width:372px;left:20px;top:47px;display:none;}
[class*=popup-wrap] .tit.w-tip .tip-content li{line-height:1.4;}
[class*=popup-wrap] .tit.w-tip .tip-content li span{font-weight:700;}

.items-input ul li .input-area .s-info{font-size:12px;font-weight:600;color:#99a2b9;display:flex;gap:0 4px;align-items:center;line-height:1.52;}
.items-input ul li .input-area .s-info::before{width:12px;height:12px;background:url(../img/ico-s-hint.png) 0 0 no-repeat;content:'';display:block;}
.items-input ul li.toggle .input-area{min-height:28px;}
.items-input ul li.toggle.withShadow::before,
.items-input ul li.toggle.withShadow::after{content:'';display:block;height:28px;position:absolute;top:8px;z-index:2;}
.items-input ul li.toggle.withShadow::before{width:8px;background-color:#2c3240;right:24px;}
.items-input ul li.toggle.withShadow::after{width:24px;background-image:linear-gradient(to right, rgba(44, 50, 64, 0) 2%, #2c3240 77%, #2c3240 100%);right:32px;}
.items-input ul li.toggle{position: relative;border-bottom:1px solid #373d4f;padding:8px 0;margin-top:0;}
.items-input ul li.toggle:first-child{padding-top:0;}
.items-input ul li.toggle:last-child{border-bottom:0;}
.items-input ul li.toggle .input-area .btn-arrow{background:#2c3240 url(../img/ico-arrow-g.png) 50% 50% no-repeat;display:inline-block;width:24px;height:28px;position: absolute;right:0;top:8px;z-index:1;transition:none;}
.items-input ul li.toggle .detail-area{display:none;padding:8px 0 0;}
.items-input ul li.toggle.on .input-area .btn-arrow{transform:rotate(180deg);}
.items-input ul li.toggle.on .detail-area{display:block;}

.temp-tit-area{margin-bottom:8px;display:flex;justify-content:space-between;align-items: center;}
.temp-tit-area .s-tit{font-size:14px;line-height:1.4;color:#33a5ff;font-weight:bold;}
.label-select{display:flex;gap:0 8px;align-items: center;}
.label-select .label{font-size:13px;font-weight:600;flex-shrink:0;color:#b8bdcd;}
.temp-wrap .temp-top-area, .temp-wrap .temp-view-area{padding:12px 16px;border-radius:4px;border:1px solid #373d4f;}
.temp-wrap .temp-top-area .temp-detail{padding: 16px;border-radius: 4px;background-color: rgba(34, 38, 49, 0.7);margin-top:12px;height:300px;display:flex;align-items: center;justify-content: center;}
.temp-wrap .temp-view-area{height:153px;display:flex;align-items:center;width:100%;overflow-x:auto;overflow-y:hidden;justify-content:flex-start;}
.temp-wrap .temp-view-area::-webkit-scrollbar{background:#373d4f;width:12px;height:12px;} 
.temp-wrap .temp-view-area::-webkit-scrollbar-track { border-radius: 6px; background: transparent;} 
.temp-wrap .temp-view-area::-webkit-scrollbar-thumb { background: #4c556d; border-radius: 6px; background-clip: padding-box; border: 3px solid transparent; }
.temp-wrap .temp-view-area .col-wrap{flex: 0 0 auto;position:relative;overflow:hidden;}
.temp-wrap .temp-view-area ul{display:flex;gap:8px;width:100%;justify-content:center;flex-wrap:wrap;}
.temp-wrap .temp-view-area ul li{text-align:center;}
.temp-wrap .temp-view-area ul.col-2 li{width:316px;}
.temp-wrap .temp-view-area ul.col-5 li{width:120px;}
.temp-wrap .temp-view-area ul li span{display:block;text-align:center;}
.temp-wrap .temp-view-area ul li span.txt{font-size:13px;line-height:1.4;color:#b8bdcd;margin-top:4px;}
.temp-input-wrap .items-input{height:637px;}

.temp-item{display:flex;gap:8px;position: relative;margin-top:8px;}
.temp-item:first-child{margin-top:0;}
.temp-item > ul{border:1px solid #373d4f;border-radius:4px;display:flex;}
.temp-item > ul > li{width:36px;height:36px;border-left:1px solid #373d4f;display:flex;align-items: center;justify-content: center;cursor:pointer;}
.temp-item > ul > li:first-child{border-left:0;}
.temp-item > ul > li span{width:24px;height:24px;display:block;background-position: 50% 50%;background-repeat: no-repeat;}
.temp-item > ul.color-pick > li span{border-radius:4px;}
.temp-item > ul.color-pick > li.c-ff1900 span{background-color: #ff1900;}
.temp-item > ul.color-pick > li.c-39ff00 span{background-color: #39ff00;}
.temp-item > ul.color-pick > li.c-ffff00 span{background-color: #ffff00;}
.temp-item > ul.color-pick > li.c-0006ff span{background-color: #0006ff;}
.temp-item > ul.color-pick > li.c-50ffff span{background-color: #50ffff;}
.temp-item > ul.color-pick > li.c-ffffff span{background-color: #ffffff;}
.temp-item > ul.color-pick > li.c-000000 span{background-color: #000000;}
.temp-item > ul > li.trafficinfo span{background-image: url(../img/ico-tool-trafficinfo-g.png);}
.temp-item > ul > li.triangle span{background-image: url(../img/ico-tool-triangle-g.png);}
.temp-item > ul > li.quadrangle span{background-image: url(../img/ico-tool-quadrangle-g.png);}
.temp-item > ul > li.arrowshort span{background-image: url(../img/ico-tool-arrowshort-g.png);}
.temp-item > ul > li.arrowlong span{background-image: url(../img/ico-tool-arrowlong-g.png);}
.temp-item > ul > li.refresh span{background-image: url(../img/ico-tool-refresh-g.png);}

.temp-item > ul > li.bold span{background-image: url(../img/ico-tool-bold-g.png);}
.temp-item > ul > li.textsort span{background-image: url(../img/ico-tool-textsort-g.png);}

.temp-item > ul > li.left span{background-image: url(../img/ico-tool-left-g.png);}
.temp-item > ul > li.hcenter span{background-image: url(../img/ico-tool-hcenter-g.png);}
.temp-item > ul > li.right span{background-image: url(../img/ico-tool-right-g.png);}
.temp-item > ul > li.top span{background-image: url(../img/ico-tool-top-g.png);}
.temp-item > ul > li.vcenter span{background-image: url(../img/ico-tool-vcenter-g.png);}
.temp-item > ul > li.bottom span{background-image: url(../img/ico-tool-bottom-g.png);}
.temp-item > ul > li.dcenter span{background-image: url(../img/ico-tool-dcenter-g.png);}

.temp-item > ul.right{position: absolute;right:0;top:0;}

.search-img-top{display:flex;justify-content: space-between;}
.search-img-top .input-wrap.input-btn{margin-top:0;}

.chk-base{position:relative;display:inline-block;}
.chk-base input{position:absolute;display:none;}
.chk-base input + label{position:relative;padding-left:20px;font-size:13px;display:inline-block;line-height:16px;vertical-align:middle;color:#b8bdcd;}
.chk-base input + label:before{content:'';display:block;width:16px;height:16px;position: absolute;left:0;top:0;background:url(../img/ck-off.png) 0 0 no-repeat;}
.chk-base input:checked + label:before{background:url(../img/ck-on.png) 0 0 no-repeat;}
.chk-base.chk-only{vertical-align:middle;}
.chk-base.chk-only input + label{padding-left:0;font-size:0;width:16px;height:16px;vertical-align:middle;}
.search-img-list{height:425px;border-top: solid 1px rgba(0, 143, 255, 0.2);border-bottom: solid 1px rgba(0, 143, 255, 0.2);width:100%;margin-top:8px;overflow-y:auto;}
.search-img-list::-webkit-scrollbar{background:#373d4f;width:12px;}
.search-img-list::-webkit-scrollbar-track{border-radius:6px;background:transparent;}
.search-img-list::-webkit-scrollbar-thumb{background:#4c556d;border-radius:6px;background-clip:padding-box;border:3px solid transparent;}
.search-img-list::after{content:'';display:block;clear:both;}
.search-img-list li{border-left:1px solid #2c3240;border-top:1px solid #2c3240;width:33.333%;text-align:center;margin-top:0 !important;float:left;}
.search-img-list li dt{background-color:#222631;padding:4px 16px;text-align:left;}
.search-img-list li dd{padding:8px;text-align:center;background-color: rgba(34, 38, 49, 0.5);}

.pb-swiper.swiper-container{display:none;margin:0;}
.pb-swiper.swiper-container .swiper-slide{width:auto;margin-right:10px;}
.pb-swiper.swiper-container .swiper-slide .inner{display:flex;align-items:center;padding:4.5px 12px;background-color:#222631;border-radius:16px;gap:0 8px;}
.pb-swiper.swiper-container .swiper-slide .inner .item{display:block;transition:background-color 0.2s, color 0.2s;font-size:12px;color:#b8bdcd;font-weight:600;}
.pb-swiper.swiper-container .swiper-slide .inner .btn-del{display:inline-block;width:12px;height:12px;background:url(../img/ico-ss-cancel-g.png) 50% 50% no-repeat;}
.pb-swiper.swiper-container .swiper-slide:last-child{margin-right:0;}

.search-res-area{display:flex;gap:0 8px;}
.search-res-area > div{height:471px;}
.search-res-area .search-res-left{width:240px;flex-shrink:0;}
.search-res-area .search-res-right{flex-grow:1;}
.search-res-area .search-res-right .input-wrap.input-btn{width:auto;margin-top:0;}
.search-res-area .search-res-right .w-full{width:100%;margin-top:9px;}
.search-res-area .search-res-right .tabulator .tabulator-tableholder{height:335px !important;}
